body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    color: rgb(95, 95, 95);
}

.flex-container {
    display: flex;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(60deg, orange, red);
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 15px;
    display: inline-block;
}

.section-half {
    width: 40%;
    margin: 5%;
}

span {
    color: orange
}

/* start intro section styling */

#intro-section {
    padding: 0 20px;
    align-items: center;
}

.intro-img {
    width: 100%;
}


/* end intro section  



start about section styling */

#about-section {
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

.about-img {
    height: 400px;
}

.about-img-continer {
    width: 50%;
    margin: 2% 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* end about section  */



/* start recipes section  */

.recipie-heading-container {
    text-align: center;
}

.recipies-items-container {
    margin: 0 2%;
}

.recipies-item {
    width: 29%;
    margin: 4%;
    box-shadow: 5px 5px 20px rgba(28, 26, 26, 0.296);
    border: 5px solid white;
    border-radius: 15px;
    padding-bottom: 10px;
}

.recipies-item  h2{
    color:black;
    font-weight: 900;
}

.recipies-items-img {
    width: 97%;
    height: auto;
    border: 5px solid white;
    border-radius: 15px;
}

.recipie-details{
    padding-left: 7px;
}

/* end recipie section  */



/* start social follower section  */
#social-member-section{
    padding: 20px 100px;
    margin-bottom: 40px;
}

.social-member-container {
    justify-content: space-around;
    padding: 20px 80px;
    margin:0 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(41, 39, 39, 0.296);
}

.social-member-item{
    padding:0 20px;
    width: 29%;
    margin: 2%;
    text-align: center;
}

.social-member-item h1{
    margin:0px !important;
    font-size: 70px;
    color: black;
    text-align: center;
}
/* end social follower  section  */


/* start Footer section  */

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 4px 0 30px 0;
}
footer h2{
    color: rgb(90, 80, 25);
}
footer p{
    color: rgb(168, 195, 204);
}
/* end Footer section  */